* {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.search-bar input {
    width: 250px;
    margin-top: 1%;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.5em;
    border: none;

    border-bottom: solid 1px #ccc;

}

.search-bar input:focus{
    transition: all 0.1s cubic-bezier(.17,.67,.34,.92);
    outline: none;
    border-bottom: solid 3px #242424;
}

/* Format Telephone*/
@media (max-width: 480px) {

    nav{
        display: none;
    }

    span.logo {

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .search-bar img{
        position: absolute;
        left: 10px;
        top: 10px;
        height: 25px;
        width: 25px;
    }

    .burger {
        opacity: 0;
        position: absolute;
        left: 10px;
        top: 10px;
        height: 50px;
        width: 50px;
        z-index: 9;
    }
    .burger:checked{
        background: aqua;
    }
    .burger-span{


    }
    .burger-span::before{

    }
    .burger-span::after{

    }


}

/*Format autre*/
@media (min-width: 481px) {

    span.logo {
        display: none;
    }

    .burger{
        display: none;
    }
}


/*╔═════════════════════════════════════════════════════════╗*/
/*║                                                         ║*/
/*║                 CSS Page chooseProfile                  ║*/
/*║                                                         ║*/
/*╚═════════════════════════════════════════════════════════╝*/

.chooseProfile{
    padding: 0;
    margin: 0;
    width: 0;
    overflow-y: hidden;
    background: #C4C4C4;
}

.chooseProfile #imgBackgroundP1{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    right: 0;
}

.chooseProfile #imgBackgroundP2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.chooseProfile #titleWho{
    z-index: 1;
    position: absolute;
    font-size: 7vw;
    width: 100%;
    text-align: center;
    top: 1%;
    font-family: 'Comfortaa', cursive;
}

.chooseProfile #modifyText{
	z-index: 1;
	position: absolute;
	font-size: 3vw;
	right: 1%;
	top: 2%;
}

.chooseProfile #modifyButton{
    position: absolute;
    right: 1%;
    top: -1%;
    width: 13vw;
    height: 13vw;
    z-index: 2;
    opacity: 0;
}

.chooseProfile #modifyButton:checked ~#modifyText{
    display: none;
}

.chooseProfile #finishButton{
    position: absolute;
    font-size: 3vw;
    right: 1%;
    top: 2%;
}

.chooseProfile :not(#modifyButton:checked) ~#finishButton{
    display: none;
}

.chooseProfile #modifyButton:checked ~#finishButton{
    display: block;
}